{% extends 'base.html.twig' %}


{% block title %} Read {{ title }} {% endblock %}
{% block body%}

<h1>{{ title }}</h1>


<div>
    <p>Lorem ipsum</p>
    <p>This is super cool</p>
    <p>Another one</p>
    <p>Lets get started</p>
</div>


<h2>Comments ({{ comments|length }})</h2>

<ul>
    {% for comment in comments %}
        <li>{{  comment }}</li>

    {% endfor %}
</ul>

{% endblock %}